In [1]:
import pandas as pd
# libaries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
import os
os.getcwd()

'/Users/andres/Desktop/IE/Capstone Project/Loans'

In [3]:
# settings to show all rows and columns
# you'll need to be extra careful to use limit/head and other commands to restrict rows
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)

In [4]:
df_main = pd.read_csv("loan.csv", low_memory=False)

In [5]:
# copying data to another variable to avoid any changes to original data
data = df_main.copy()

In [6]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37.0,f,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.shape

(887379, 74)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           887379 non-null  int64
 1   member_id                    887379 non-null  int64
 2   loan_amnt                    887379 non-null  float64
 3   funded_amnt                  887379 non-null  float64
 4   funded_amnt_inv              887379 non-null  float64
 5   term                         887379 non-null  object
 6   int_rate                     887379 non-null  float64
 7   installment                  887379 non-null  float64
 8   grade                        887379 non-null  object
 9   sub_grade                    887379 non-null  object
 10  emp_title                    835917 non-null  object
 11  emp_length                   842554 non-null  object
 12  home_ownership               887379 non-null  object
 13  annual_inc                   887375 non-null  float64
 14  verification_status          887379 non-null  object
 15  issue_d                      887379 non-null  object
 16  loan_status                  887379 non-null  object
 17  pymnt_plan                   887379 non-null  object
 18  url                          887379 non-null  object
 19  desc                         126028 non-null  object
 20  purpose                      887379 non-null  object
 21  title                        887227 non-null  object
 22  zip_code                     887379 non-null  object
 23  addr_state                   887379 non-null  object
 24  dti                          887379 non-null  float64
 25  delinq_2yrs                  887350 non-null  float64
 26  earliest_cr_line             887350 non-null  object
 27  inq_last_6mths               887350 non-null  float64
 28  mths_since_last_delinq       433067 non-null  float64
 29  mths_since_last_record       137053 non-null  float64
 30  open_acc                     887350 non-null  float64
 31  pub_rec                      887350 non-null  float64
 32  revol_bal                    887379 non-null  float64
 33  revol_util                   886877 non-null  float64
 34  total_acc                    887350 non-null  float64
 35  initial_list_status          887379 non-null  object
 36  out_prncp                    887379 non-null  float64
 37  out_prncp_inv                887379 non-null  float64
 38  total_pymnt                  887379 non-null  float64
 39  total_pymnt_inv              887379 non-null  float64
 40  total_rec_prncp              887379 non-null  float64
 41  total_rec_int                887379 non-null  float64
 42  total_rec_late_fee           887379 non-null  float64
 43  recoveries                   887379 non-null  float64
 44  collection_recovery_fee      887379 non-null  float64
 45  last_pymnt_d                 869720 non-null  object
 46  last_pymnt_amnt              887379 non-null  float64
 47  next_pymnt_d                 634408 non-null  object
 48  last_credit_pull_d           887326 non-null  object
 49  collections_12_mths_ex_med   887234 non-null  float64
 50  mths_since_last_major_derog  221703 non-null  float64
 51  policy_code                  887379 non-null  float64
 52  application_type             887379 non-null  object
 53  annual_inc_joint             511 non-null     float64
 54  dti_joint                    509 non-null     float64
 55  verification_status_joint    511 non-null     object
 56  acc_now_delinq               887350 non-null  float64
 57  tot_coll_amt                 817103 non-null  float64
 58  tot_cur_bal                  817103 non-null  float64
 59  open_acc_6m                  21372 non-null   float64
 60  open_il_6m                   21372 non-null   float64
 61  open_il_12m                  21372 non-null   float64
 62  open_il_24m                  21372 non-null   float64
 63  mths_since_rcnt_il           20810 non-null   float64
 64  total_bal_il                 21372 non-null   float64
 65  il_util                      18617 non-null   float64
 66  open_rv_12m                  21372 non-null   float64
 67  open_rv_24m                  21372 non-null   float64
 68  max_bal_bc                   21372 non-null   float64
 69  all_util                     21372 non-null   float64
 70  total_rev_hi_lim             817103 non-null  float64
 71  inq_fi                       21372 non-null   float64
 72  total_cu_tl                  21372 non-null   float64
 73  inq_last_12m                 21372 non-null   float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

In [9]:
#check for null values in each variable
data.isnull().sum()

id                                  0
member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
grade                               0
sub_grade                           0
emp_title                       51462
emp_length                      44825
home_ownership                      0
annual_inc                          4
verification_status                 0
issue_d                             0
loan_status                         0
pymnt_plan                          0
url                                 0
desc                           761351
purpose                             0
title                             152
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                        29
earliest_cr_line                   29
inq_last_6mths                     29
mths_since_last_delinq         454312
mths_since_last_record         750326
open_acc                           29
pub_rec                            29
revol_bal                           0
revol_util                        502
total_acc                          29
initial_list_status                 0
out_prncp                           0
out_prncp_inv                       0
total_pymnt                         0
total_pymnt_inv                     0
total_rec_prncp                     0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
last_pymnt_d                    17659
last_pymnt_amnt                     0
next_pymnt_d                   252971
last_credit_pull_d                 53
collections_12_mths_ex_med        145
mths_since_last_major_derog    665676
policy_code                         0
application_type                    0
annual_inc_joint               886868
dti_joint                      886870
verification_status_joint      886868
acc_now_delinq                     29
tot_coll_amt                    70276
tot_cur_bal                     70276
open_acc_6m                    866007
open_il_6m                     866007
open_il_12m                    866007
open_il_24m                    866007
mths_since_rcnt_il             866569
total_bal_il                   866007
il_util                        868762
open_rv_12m                    866007
open_rv_24m                    866007
max_bal_bc                     866007
all_util                       866007
total_rev_hi_lim                70276
inq_fi                         866007
total_cu_tl                    866007
inq_last_12m                   866007
dtype: int64

In [10]:
df_clean = data.drop(columns=['earliest_cr_line', 'funded_amnt', 'funded_amnt_inv', 'inq_last_6mths', 'sub_grade', 'url', 'inq_fi', 'total_cu_tl', 'inq_last_12m','open_acc_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi','desc', 'zip_code', 'pub_rec', 'dti_joint', 'member_id', 'id', 'total_pymnt', 'total_rec_late_fee', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'tot_coll_amt','open_il_6m', 'total_rev_hi_lim'])

In [11]:
df_clean.shape

(887379, 42)

In [12]:
df_clean.head()

   loan_amnt        term  int_rate  installment grade                 emp_title emp_length home_ownership  annual_inc verification_status   issue_d  loan_status pymnt_plan         purpose                 title addr_state    dti  delinq_2yrs  mths_since_last_delinq  mths_since_last_record  open_acc  revol_bal  revol_util  total_acc initial_list_status  out_prncp  out_prncp_inv  total_pymnt_inv  total_rec_prncp  total_rec_int  recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt next_pymnt_d last_credit_pull_d  policy_code application_type  annual_inc_joint verification_status_joint  acc_now_delinq  tot_cur_bal
0     5000.0   36 months     10.65       162.87     B                       NaN  10+ years           RENT     24000.0            Verified  Dec-2011   Fully Paid          n     credit_card              Computer         AZ  27.65          0.0                     NaN                     NaN       3.0    13648.0        83.7        9.0                   f        0.0            0.0          5831.78          5000.00         861.07        0.00                     0.00     Jan-2015           171.62          NaN           Jan-2016          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN
1     2500.0   60 months     15.27        59.83     C                     Ryder   < 1 year           RENT     30000.0     Source Verified  Dec-2011  Charged Off          n             car                  bike         GA   1.00          0.0                     NaN                     NaN       3.0     1687.0         9.4        4.0                   f        0.0            0.0          1008.71           456.46         435.17      117.08                     1.11     Apr-2013           119.66          NaN           Sep-2013          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN
2     2400.0   36 months     15.96        84.33     C                       NaN  10+ years           RENT     12252.0        Not Verified  Dec-2011   Fully Paid          n  small_business  real estate business         IL   8.72          0.0                     NaN                     NaN       2.0     2956.0        98.5       10.0                   f        0.0            0.0          3003.65          2400.00         603.65        0.00                     0.00     Jun-2014           649.91          NaN           Jan-2016          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN
3    10000.0   36 months     13.49       339.31     C       AIR RESOURCES BOARD  10+ years           RENT     49200.0     Source Verified  Dec-2011   Fully Paid          n           other              personel         CA  20.00          0.0                    35.0                     NaN      10.0     5598.0        21.0       37.0                   f        0.0            0.0         12226.30         10000.00        2209.33        0.00                     0.00     Jan-2015           357.48          NaN           Jan-2015          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN
4     3000.0   60 months     12.69        67.79     B  University Medical Group     1 year           RENT     80000.0     Source Verified  Dec-2011      Current          n           other              Personal         OR  17.94          0.0                    38.0                     NaN      15.0    27783.0        53.9       38.0                   f      766.9          766.9          3242.17          2233.10        1009.07        0.00                     0.00     Jan-2016            67.79     Feb-2016           Jan-2016          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN

In [13]:
df = pd.DataFrame(df_clean)

In [14]:
df['duration_numeric'] = df_clean['term'].apply(lambda x: int(x.split()[0]))

In [15]:
df_clean['term'] = df_clean['term'].apply(lambda x: int(x.split()[0]))

In [16]:
df_clean.head()

   loan_amnt  term  int_rate  installment grade                 emp_title emp_length home_ownership  annual_inc verification_status   issue_d  loan_status pymnt_plan         purpose                 title addr_state    dti  delinq_2yrs  mths_since_last_delinq  mths_since_last_record  open_acc  revol_bal  revol_util  total_acc initial_list_status  out_prncp  out_prncp_inv  total_pymnt_inv  total_rec_prncp  total_rec_int  recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt next_pymnt_d last_credit_pull_d  policy_code application_type  annual_inc_joint verification_status_joint  acc_now_delinq  tot_cur_bal  duration_numeric
0     5000.0    36     10.65       162.87     B                       NaN  10+ years           RENT     24000.0            Verified  Dec-2011   Fully Paid          n     credit_card              Computer         AZ  27.65          0.0                     NaN                     NaN       3.0    13648.0        83.7        9.0                   f        0.0            0.0          5831.78          5000.00         861.07        0.00                     0.00     Jan-2015           171.62          NaN           Jan-2016          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN                36
1     2500.0    60     15.27        59.83     C                     Ryder   < 1 year           RENT     30000.0     Source Verified  Dec-2011  Charged Off          n             car                  bike         GA   1.00          0.0                     NaN                     NaN       3.0     1687.0         9.4        4.0                   f        0.0            0.0          1008.71           456.46         435.17      117.08                     1.11     Apr-2013           119.66          NaN           Sep-2013          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN                60
2     2400.0    36     15.96        84.33     C                       NaN  10+ years           RENT     12252.0        Not Verified  Dec-2011   Fully Paid          n  small_business  real estate business         IL   8.72          0.0                     NaN                     NaN       2.0     2956.0        98.5       10.0                   f        0.0            0.0          3003.65          2400.00         603.65        0.00                     0.00     Jun-2014           649.91          NaN           Jan-2016          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN                36
3    10000.0    36     13.49       339.31     C       AIR RESOURCES BOARD  10+ years           RENT     49200.0     Source Verified  Dec-2011   Fully Paid          n           other              personel         CA  20.00          0.0                    35.0                     NaN      10.0     5598.0        21.0       37.0                   f        0.0            0.0         12226.30         10000.00        2209.33        0.00                     0.00     Jan-2015           357.48          NaN           Jan-2015          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN                36
4     3000.0    60     12.69        67.79     B  University Medical Group     1 year           RENT     80000.0     Source Verified  Dec-2011      Current          n           other              Personal         OR  17.94          0.0                    38.0                     NaN      15.0    27783.0        53.9       38.0                   f      766.9          766.9          3242.17          2233.10        1009.07        0.00                     0.00     Jan-2016            67.79     Feb-2016           Jan-2016          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN                60

In [17]:
df_clean.shape

(887379, 43)

In [18]:
df_dummies = pd.get_dummies(df_clean, columns=['grade', 'home_ownership'])

In [19]:
selected_columns = ['grade_A', 'grade_B', 'grade_C','grade_D','grade_E','grade_F','grade_G','home_ownership_ANY', 'home_ownership_MORTGAGE', 'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN','home_ownership_RENT']

In [20]:
df_selected = df_dummies[selected_columns]

In [21]:
df_selected.head()

   grade_A  grade_B  grade_C  grade_D  grade_E  grade_F  grade_G  home_ownership_ANY  home_ownership_MORTGAGE  home_ownership_NONE  home_ownership_OTHER  home_ownership_OWN  home_ownership_RENT
0        0        1        0        0        0        0        0                   0                        0                    0                     0                   0                    1
1        0        0        1        0        0        0        0                   0                        0                    0                     0                   0                    1
2        0        0        1        0        0        0        0                   0                        0                    0                     0                   0                    1
3        0        0        1        0        0        0        0                   0                        0                    0                     0                   0                    1
4        0        1        0        0        0        0        0                   0                        0                    0                     0                   0                    1

In [22]:
df_clean=pd.concat([df_clean, df_selected], axis=1)

In [23]:
df_clean.head()

   loan_amnt  term  int_rate  installment grade                 emp_title emp_length home_ownership  annual_inc verification_status   issue_d  loan_status pymnt_plan         purpose                 title addr_state    dti  delinq_2yrs  mths_since_last_delinq  mths_since_last_record  open_acc  revol_bal  revol_util  total_acc initial_list_status  out_prncp  out_prncp_inv  total_pymnt_inv  total_rec_prncp  total_rec_int  recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt next_pymnt_d last_credit_pull_d  policy_code application_type  annual_inc_joint verification_status_joint  acc_now_delinq  tot_cur_bal  duration_numeric  grade_A  grade_B  grade_C  grade_D  grade_E  grade_F  grade_G  home_ownership_ANY  home_ownership_MORTGAGE  home_ownership_NONE  home_ownership_OTHER  home_ownership_OWN  home_ownership_RENT
0     5000.0    36     10.65       162.87     B                       NaN  10+ years           RENT     24000.0            Verified  Dec-2011   Fully Paid          n     credit_card              Computer         AZ  27.65          0.0                     NaN                     NaN       3.0    13648.0        83.7        9.0                   f        0.0            0.0          5831.78          5000.00         861.07        0.00                     0.00     Jan-2015           171.62          NaN           Jan-2016          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN                36        0        1        0        0        0        0        0                   0                        0                    0                     0                   0                    1
1     2500.0    60     15.27        59.83     C                     Ryder   < 1 year           RENT     30000.0     Source Verified  Dec-2011  Charged Off          n             car                  bike         GA   1.00          0.0                     NaN                     NaN       3.0     1687.0         9.4        4.0                   f        0.0            0.0          1008.71           456.46         435.17      117.08                     1.11     Apr-2013           119.66          NaN           Sep-2013          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN                60        0        0        1        0        0        0        0                   0                        0                    0                     0                   0                    1
2     2400.0    36     15.96        84.33     C                       NaN  10+ years           RENT     12252.0        Not Verified  Dec-2011   Fully Paid          n  small_business  real estate business         IL   8.72          0.0                     NaN                     NaN       2.0     2956.0        98.5       10.0                   f        0.0            0.0          3003.65          2400.00         603.65        0.00                     0.00     Jun-2014           649.91          NaN           Jan-2016          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN                36        0        0        1        0        0        0        0                   0                        0                    0                     0                   0                    1
3    10000.0    36     13.49       339.31     C       AIR RESOURCES BOARD  10+ years           RENT     49200.0     Source Verified  Dec-2011   Fully Paid          n           other              personel         CA  20.00          0.0                    35.0                     NaN      10.0     5598.0        21.0       37.0                   f        0.0            0.0         12226.30         10000.00        2209.33        0.00                     0.00     Jan-2015           357.48          NaN           Jan-2015          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN                36        0        0        1        0        0        0        0                   0                        0                    0                     0                   0                    1
4     3000.0    60     12.69        67.79     B  University Medical Group     1 year           RENT     80000.0     Source Verified  Dec-2011      Current          n           other              Personal         OR  17.94          0.0                    38.0                     NaN      15.0    27783.0        53.9       38.0                   f      766.9          766.9          3242.17          2233.10        1009.07        0.00                     0.00     Jan-2016            67.79     Feb-2016           Jan-2016          1.0       INDIVIDUAL               NaN                       NaN             0.0          NaN                60        0        1        0        0        0        0        0                   0                        0                    0                     0                   0                    1

In [24]:
df_clean.shape

(887379, 56)

In [25]:
df_clean.to_csv("df_clean.csv", index=False)